# Virtual environment
.venv/

# Other common virtualenv names
venv/
env/
ENV/

# env vars
.env

# IDE files
.vscode/
.idea/

# Python cache
__pycache__/
*.pyc

# OS files
.DS_Store
Thumbs.db

# dist files
dist/
dist/*
build/
build/*

# others
*.spec